/* On importe les styles de base de Tailwind */
@import "tailwindcss";



/* Styles de base pour le body */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}